:root {
    --install-icon: "";
    --outline: 0;
    --blur: 0;
    --opacity: 0;
    --padding: 0;
    --focus: 0;
    --unfocus: 0;
}


/*---- Style for home Most Recent Tile (WARNING THIS CAN OVERRIDE OTHER HOME TILES ICON POSITIONING)----*/
/*Show Icon when not in focus*/
.Panel[role="listitem"]:has(.DownloadArrow, .N8aJrSpxQ6II4CY_aFdYI, .QTJZotuAt67vK7Sa2Wjus) .Panel[role="link"] > div:last-child::after {
  content: var(--install-icon);
  position: absolute;
  z-index: 100;
  bottom: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: rgba(0, 0, 0, var(--opacity));
  backdrop-filter: blur(calc(100px * var(--blur)));
  border-radius: 20px;
  border-width: calc(1px * var(--outline));
  border-style: solid;
  border-color: initial;
  pointer-events: none;
  opacity: var(--unfocus);
}

/*Hide Icon when in focus*/
.Panel[role="listitem"]:has(.DownloadArrow, .N8aJrSpxQ6II4CY_aFdYI, .QTJZotuAt67vK7Sa2Wjus) .Panel[role="link"]:focus > div:last-child::after {
  opacity: 0;
}

/*Show Icon in the deck verified when in focus*/
/*_3VPnvw_CDKU-PQKK1pSDlN.Tl-6lFIeV1vcxFCcf19ty._3kDT9HSaC2BYFyAndTzQY4 holds the verified badge icons*/
.Panel[role="listitem"]:has(.DownloadArrow, .N8aJrSpxQ6II4CY_aFdYI, .QTJZotuAt67vK7Sa2Wjus) ._3VPnvw_CDKU-PQKK1pSDlN.Tl-6lFIeV1vcxFCcf19ty._3kDT9HSaC2BYFyAndTzQY4::before {
  content: "";
  display: inline-block;
  width: calc(20px * var(--focus));
  height: calc(20px * var(--focus));
  background-image: var(--install-icon);
  background-repeat: no-repeat;
  background-size: contain;
}

/*---- Style for main library tiles and home tiles ----*/
/*Show Icon when not in focus*/
.Panel[role="link"]:has(.DownloadArrow, .N8aJrSpxQ6II4CY_aFdYI, .QTJZotuAt67vK7Sa2Wjus) > div:last-child::after {
  content: var(--install-icon);
  position: absolute;
  z-index: 100;
  bottom: 4px;
  right: 4px;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: rgba(0, 0, 0, var(--opacity));
  backdrop-filter: blur(calc(100px * var(--blur)));
  border-radius: 20px;
  border-width: calc(1px * var(--outline));
  border-style: solid;
  border-color: initial;
  pointer-events: none;
  opacity: var(--unfocus);
}

/*Hide Icon when in focus*/
.Panel[role="link"]:has(.DownloadArrow, .N8aJrSpxQ6II4CY_aFdYI, .QTJZotuAt67vK7Sa2Wjus):focus > div:last-child::after {
  opacity: 0;
}

/*Show Icon in the deck verified when in focus*/
/*_3VPnvw_CDKU-PQKK1pSDlN.Tl-6lFIeV1vcxFCcf19ty._3kDT9HSaC2BYFyAndTzQY4 holds the verified badge icons*/
.Panel[role="link"]:has(.DownloadArrow, .N8aJrSpxQ6II4CY_aFdYI, .QTJZotuAt67vK7Sa2Wjus) ._3VPnvw_CDKU-PQKK1pSDlN.Tl-6lFIeV1vcxFCcf19ty._3kDT9HSaC2BYFyAndTzQY4::before {
  content: "";
  display: inline-block;
  width: calc(20px * var(--focus));
  height: calc(20px * var(--focus));
  background-image: var(--install-icon);
  background-repeat: no-repeat;
  background-size: contain;
}